@import "../scss/nullstyle.scss";
body {
	background: url(/img/background39.png);
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 1 auto;
	max-width: 1030px;
	margin: 0 auto;
}
.header {
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		max-width: 1030px;
		margin: 0 auto;
		padding: 0 15px;

		@media (max-width: 1057px) {
			max-width: 970px;
		}
		@media (max-width: 991.98px) {
			max-width: 750px;
		}
		@media (max-width: 767.98px) {
		}
		@media (max-width: 479.98px) {
		}
	}

	&__logo {
		position: relative;
		z-index: 5;
	}

	&__menu {
		@media (max-width: 767.98px) {
			position: fixed;
			top: 0;
			right: -100%;
			width: 100%;
			height: 100%;
			background: url(/img/background39.png);
			overflow: auto;
			padding: 50px 15px 30px 15px;
			transition: right 0.5s ease 0s;
		}
	}
	&__menu {
	}
}
.header:target .header__menu {
	@media (max-width: 767.98px) {
		right: 0;
	}
}
.menu {
	&__list {
		&:last-child {
			margin: 0px;
		}
		display: flex;
		@media (max-width: 767.98px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	&__item {
		@media (max-width: 767.98px) {
			margin: 0 0 20px 0;
		}
	}

	&__link {
		display: inline-block;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		color: rgb(95, 41, 139);
		text-transform: uppercase;
		font-weight: 600;
		background-color: rgb(27, 190, 136);
		padding: 10px;
		border-radius: 5px;
		margin: 0 0 0 20px;
		transition: background-color 0.3s ease 0s;
		&:hover {
			background-color: rgb(153, 46, 153);
		}
		@media (max-width: 767.98px) {
			color: rgb(201, 184, 247);
			background-color: rgba(255, 255, 255, 0);
			font-size: 24px;
		}
	}
	&__link_small {
		padding: 10px 30px;
	}
}
.header:target .icon-menu {
	@media (max-width: 767.98px) {
		display: none;
	}
}
.header:target .close-icon-menu {
	@media (max-width: 767.98px) {
		display: flex;
	}
}
.actively {
}
.icon-menu {
	display: none;

	@media (max-width: 767.98px) {
		display: flex;
		position: relative;
		background-color: rgba(233, 80, 157, 0);
		height: 30px;
		width: 30px;

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%);
			transform: translateX(-50%);
			width: 20px;
			height: 3px;
			background-color: black;
			&::before {
				content: "";
				position: absolute;
				width: 20px;
				height: 3px;
				background-color: black;
				transform: translateY(-6px);
			}
			&::after {
				content: "";
				position: absolute;
				width: 20px;
				height: 3px;
				background-color: rgb(5, 5, 5);
				transform: translateY(+6px);
			}
		}
	}
}
.close-icon-menu {
	margin: 15px 25px 0 0;
	display: none;
	@media (max-width: 767.98px) {
		display: flex;
		flex: 0 0 30px;
		position: relative;
		height: 20px;
		flex-direction: column;
		justify-content: space-between;

		&::before {
			content: "";
			position: absolute;
			width: 20px;
			height: 3px;
			background-color: black;
			transform: rotate(-45deg);
		}
		&::after {
			content: "";
			position: absolute;
			width: 20px;
			height: 3px;
			background-color: rgb(5, 5, 5);
			transform: rotate(45deg);
		}
	}
}
@media (max-width: 767.98px) {
	.close-icon-menu {
		display: none;
	}
}
